<div id="sprite-half">
  <%= image_tag "#{@pokemon.sprite_url}", id: "showcase-sprite" %>
</div>
<div id="name-area">
  <%= link_to "#{pokemon_path(@pokemon.id - 1)}" do %>
    <i class="fas fa-angle-double-left double-arrows" ></i>
  <% end %>
  <div id="pokemon-name">
    <%= @pokemon.name.capitalize %>
  </div>
  <%= link_to "#{pokemon_path(@pokemon.id + 1)}" do %>
    <i class="fas fa-angle-double-right double-arrows" ></i>
  <% end %>
</div>
<div id="types-row">
  <div id="pokemon-types">
    <div class="type" id="<%= @pokemon.types.first.name %>">
      <%= link_to @pokemon.types.first.name.capitalize, pokemons_path(search: {"name" => nil, "type" => @pokemon.types.first.name})  %>
    </div>
    <% if @pokemon.types.count > 1 %>
      <div class="type" id="<%= @pokemon.types.last.name %>">
        <%= link_to @pokemon.types.last.name.capitalize, pokemons_path(search: {"name" => nil, "type" => @pokemon.types.last.name})  %>
      </div>
    <% end %>
  </div>
  <i id="pokemon-id-<%= @pokemon.id %>" data-pokemon-id="<%= @pokemon.id %>" class="button-toggle-favorite far fa-heart showcase-heart"></i>
</div>

<div id="pokemon-info">
  <div id="pokemon-description">
    <%= @pokemon.description %>
  </div>
  
  <div id="pokemon-stats">
    <div class="half-side">
      <div class="stat-container">
        <i class="fas fa-heartbeat"></i>
        <div class="stat hp"><%= @pokemon.hp %></div>
      </div>
      <div class="stat-container">
        <%= image_tag "swords.png" , class: "swords"%>
        <div class="stat atk"><%= @pokemon.attack %></div>
      </div>
      <div class="stat-container">
        <i class="fas fa-shield-alt"></i>
        <div class="stat def"><%= @pokemon.defense %></div>
      </div>
    </div>
    
    <div class="half-side">
      <div class="stat-container">
        <div class="special-stats">
          <i class="fas fa-star"></i><%= image_tag "swords" , class: "swords"%>
        </div>
        <div class="stat sp-atk"><%= @pokemon.special_attack %></div>
      </div>
      <div class="stat-container">
        <div class="special-stats">
          <i class="fas fa-star"></i><i class="fas fa-shield-alt"></i>
        </div>
        <div class="stat sp-def"><%= @pokemon.special_defense %></div>
      </div>
      <div class="stat-container">
        <div class="special-stats">
          <i class="fas fa-paw"></i><i class="fas fa-tachometer-alt"></i>
        </div>
        <div class="stat speed"><%= @pokemon.speed %></div>
      </div>
    </div>
  </div>
</div>